@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), system-ui, sans-serif;
}

code {
  font-family: var(--font-mono), ui-monospace, monospace;
}
